.the-gradient{
background: linear-gradient(180deg, #FFFFFF 0%, #E6F8C4 100%);
}

.home-hero{
        background-image: url(../../assets//images//Home/banner.png);
        background-size: cover;
    
}